@model BackEndAsisApp.Models.Colegio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Colegio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomColegio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomColegio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioElectivo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioElectivo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.NomDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.NomDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
